In [106]:
# Right triangle-left

row=6 
for i in range(0,row):
    for j in range(0,i+1):
        
        print("* ",end="")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [107]:
# Right triangle-Left "function"

def RT_left(n):
    for row in range(0,n):
        for stars in range(0,row+1):
         
            print("* ",end="")
        print("")

In [101]:
RT_left(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [110]:
# Right triangle-Right

row=int(6)
space=(row-1)*2
for i in range(0,row):
    for j in range(0,space):
        print(" ", end="")
    for j in range(0, i+1):
        print("* ", end="")
    space=space-2

    print("")

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [111]:
# Right triangle-Right "function"

def RT_right(row):
    #row2=int(6)
    space=(row-1)*2
    for i in range(0,row):
        for j in range(0,space):
            print(" ", end="")
        for j in range(0, i+1):
            print("* ", end="")
        space=space-2

        print("")

In [112]:
RT_right(6)

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [113]:
# Right triangle upside down-Left

row=6
#space=row-1
for i in range(0,row):
    for j in range (0, row-i):
        print("* ",end= "")
    for j in range(0,i+1):
        print(" ",end="")
    #space=space-1
    print("")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [114]:
# Right triangle upside down-Left "function"

def RT_UpsideDownLeft(row):
    #space=row-1
    for i in range(0,row):
        for j in range (0, row-i):
            print("* ",end= "")
        for j in range(0,i+1):
            print(" ",end="")
        #space=space-1
        print("")

In [142]:
RT_UpsideDownLeft(6)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [189]:
# Right triangle upside down-Right
row=6
space=(row-1)*2
for i in range(0,row):
    for j in range(0, i-1):
        print("* ", end="")
    for j in range(0,space):
        print(" ",end="")

    
    """for j in range (0, space):
        print(" ",end= "")
    for j in range(0,i-1):
        print(" ",end="")"""
  
    space=space-2
    print("")

*
* *
* * *
* * * *

In [185]:
# Right triangle upside down-Right "function"

def RT_UpsideDownRight(row): 
    #row=int(6)
    space=(row+1)
    for i in range(0,row):
        for j in range(0, i):
            print(" ", end="")
        for j in range(0,space-1):
            print("* ", end="")
        space=space-1

        print("")

In [97]:
RT_UpsideDownRight(6)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [86]:
# Equilateral triangle

row=int(6)
space=(row-1)
for i in range(0,row):
    for j in range(0, space):
        print(" ", end="")
    for j in range(0,i+1):
        print("* ", end="")
    space=space-1

    print("")

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [208]:
# Equilateral triangle "function"

def Equilateral_T(row):
#row=int(6)
    space=row-1
    for i in range(0,row):
        for j in range(0, space):
            print(" ", end="")
        for j in range(0,i+1):
            print("* ", end="")
        space=space-1

        print("")

In [209]:
Equilateral_T(6)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [201]:
# Equilateral_T Upside Down

row=int(6)
space=row-1
for i in range(0,row):
    for j in range(0,i+1):
        print(" ", end="")
    for j in range(0, space):
        print("* ", end="")
   
    space=space-1

    print("")

 * * * * *
  * * * *
   * * *
    * *
     *

In [196]:
# Equilateral_T Upside Down "function"

def Equilateral_TUpsideDown(row):
#row=int(6)
    space=row+1
    for i in range(0,row):
        for j in range(0,i+1):
            print(" ", end="")
        for j in range(0, space):
            print("* ", end="")
   
        space=space-1
        print("")

In [197]:
Equilateral_TUpsideDown(6)

 * * * * *
  * * * *
   * * *
    * *
     *